@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight:800;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: hsl(0, 0%, 94%);
}

.content{
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 38%;
    border-radius: 25px;
    border-bottom-right-radius: 175px;
    padding: 20px;
    padding-left: 45px;
}

.input-container{
    display: flex;
    margin-top:25px;
}

.input-data{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.input-label{
    color:hsl(0, 1%, 44%);
    font-size: 12px;
    font-family: Poppins;
    font-weight: bold;
    margin-bottom: 5px;

    letter-spacing: 4px;
}

.input-box{
    height: 62px;
    width: 130px;

    border-radius: 5px;
    border-color: hsl(0, 0%, 86%);
    border-width:1px;
    border-style: solid;

    font-size: 32px;
    font-family: Poppins;
    font-weight: bold;

    padding-left: 20px;
}

.input-box::placeholder{
    font-style:normal;
    color:hsl(0, 0%, 60%)
}

.line-button{
    display: flex;
    align-items: center;
}

.line {
    border-top: 2px solid hsl(0, 0%, 94%);
    width: 85%;
}

.button{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: none;
    background-color: hsl(259, 100%, 65%);
}

.output-container{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size:100px;
    font-family: Poppins;
    font-weight: 800;
    font-style: italic;
}

.output-data{
    display: block;
    padding: 0;
    line-height: 1.1;
}

.output-number{
    color:hsl(259, 100%, 65%);
}